.playlist-songs {
  padding: 1rem;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  
  &__list-container {
    display: flex;
    flex-direction: column;
  }


  &__item {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    justify-content: space-between;
  }

  &__item-play {
    color: white;
    background: linear-gradient(135deg, #FF6A00, #EE0979);
    border-radius: 50%;
    padding: 10px;
    font-size: 14px;
    margin-right: 12px;
    min-width: 36px;
    min-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item-details {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.playlists {
  &__section {
    padding: 1rem;
  }

  &__item {
    display: flex;
    justify-content: center;
  }
}
