// main colors
$primary: #341931;
$secondary: #ff1168;

// neutrals
$black: #111625;
$white: #ffffff;

// linear gradients
$primary-gradient: #EE0979;
$secondary-gradient: #FF6A00;

// additional accents
$accent-red: #e54028;
$accent-pink: #d70060;
$accent-orange: #f18d05;
$accent-yellow: #f2bc06;
$accent-green-light: #5eb11c;
$accent-green-dark: #3a7634;
$accent-cyan: #0abebe;
$accent-teal: #00a1cb;
$accent-blue: #115793;

// optional grayscale variants
$text-color: $black;
$background-color: $white;
